body {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

header {
	background-color: #06b07d;
	font-size: 1.05em;
	font-family: Camphor, Open Sans, Segoe UI, sans-serif;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0; 
}

.title {
	color: white;
	text-align: center;
	letter-spacing: 0.4px;
	position: relative;
	padding: 5px;
	margin: 0 auto;
}

.App {
  text-align: center;
}
