.arrayContainer {
    position: absolute;
    bottom: 22.5vh;
    left: 50px;
    right: 50px;
    margin: 0;
    padding: 0;
}

.arrayBar {
    background-color: black;
    width: 2px;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0;
}

.caption {
    font-size: 1.04em;
    letter-spacing: 0.4px;
}

.resetButton {
    color: #2d2d2d;
    background-color: #06b07d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin: 8px;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
}

.sortButton {
    color: white;
    background-color: #2d2d2d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin: 8px;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
}

.resetButton:hover {
    transform: scale(1.08);
}

.sortButton:hover {
    transform: scale(1.08);
}

/* adjust the array's location depending on screen size */
@media screen and (max-width: 427.5px) {
    .arrayContainer {
        bottom: 13.5vh;
    }
}

@media screen and (max-width: 422px) {
    .arrayContainer {
        bottom: 9vh;
    }
}

@media screen and (max-width: 319.5px) {
    .arrayContainer {
        bottom: 1vh;
    }
}

@media screen and (max-width: 310.5px) {
    .arrayContainer {
        bottom: -7vh;
    }
}
